body{
            background: rgb(255, 255, 255);
            color:white;
            margin: 0;
            padding: 0;
            font-size: large;
        }
        ul{
            margin:0;
            padding:0;
            list-style-type:none;
            display: flexbox;
        }
        li{
            display: inline-block;
            margin: 0 20px 0 0;
            flex-direction: row;
            font-family: 'Courier New', Courier, monospace;
        }
        header {
            background: rgb(255, 102, 31);
            color: gray;
            margin:0;
            padding: 10px 5px;
        }
        section {
            background: white;
            color: rgb(0, 0, 0);
            padding: 20px;
            display:-ms-flexbox;
        }
        div {
            display:inline-block;
            width: 100%;
            margin:auto;
        }
        div2 {
            display:  inline-block;
            margin: auto;
        }
        h1 {
            text-align: center;
        }
        section1 {
            display: inline-block;
            padding: 0;
            margin: 0;
            width: 100%;
            height:300px;
            background-repeat: no-repeat ;
            background-size: 100%;
            border-image-width: 80%;
            text-indent: -99999999px;
        }

        ol{
            margin: 0;
            padding: 0;
            text-align: left;
        }
        .ingredients
        {
            width:20%;
            word-wrap: break-word;
            padding:0;
            margin:5%;
            font-size: 70%;
            font-family:Georgia, 'Times New Roman', Times, serif;
                        word-spacing:0cqb;

        }
        .steps
        {
            width:70%;
            word-wrap: break-word;
            padding: 0;
            margin:0;
            font-size: 28;
                        word-spacing:-0.5cqb;

        }
        br{
            display: block;
            margin-bottom: 10px;
            font-size: 2px;
            line-height: 10px;
        }
        .utility{
            display: flex;
            flex-direction: column;
            text-align: center;
            line-height: 2;
            font-weight: bolder;
        }
        .sublist{
            font-display: flex;
            text-align: center;
            flex-direction: row;
            text-decoration-line: underline;
        }
        .category{
            display:flex;
            flex-flow: row wrap;
            align-content: flex-start;
            
            min-height: max-content;
        }
