        nav
                {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: larger;
            font-weight: bolder;
        }
        nav >div{
            width :10px;
        }
        header {
            background: rgb(255, 102, 31);
            color: gray;
            margin:0;
            padding: 10px 5px;
        }